/*----------SONGDB----------*/

div#dbMenu{
	position: relative;
}

div#songDb{ 
	position: relative;
}

.trackLoaderContainer{
	font-variant:small-caps;
	text-align: center;
	margin-left:10px;
	width: 920px;
	height: 100px;
	margin-bottom: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}
.trackUploadContainer{
	font-variant:small-caps;
	text-align: center;
	margin-left:10px;
	width: 920px;
	height: 155px;
	margin-bottom: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

.uploadRow{
	margin-top:15px;
}

.firstRow{
	height: 40px;
	width: 920px;
	
}

.firstR{
	height: 40px;
	float: right;
	width: 555px;
	line-height: 40px;
	/*border-right-width: 0px;
	border-color: black;
	border-style: solid;*/
	background-color: silver;
	
}

.firstRUp{
	height: 40px;
	float: right;
	width: 555px;
	line-height: 40px;
	/*border-right-width: 0px;
	border-color: black;
	border-style: solid;*/
	background-color: silver;
	
}

div.trackLoaderButton{
	width: 185px;
	height: 40px;
	background-color: black;
	color:white;
	cursor: pointer;
	line-height: 40px;
	
	/*border-right-width: 1px;
	border-color: black;
	border-style: solid;*/
}

div.errorLoader{
	width: 275px;
	height: 40px;
	background-color: #990000;
	color:white;
	line-height: 40px;
}

div.delfile{
	width: 90px;
	height: 40px;
	background-color: #3d3d5c;
	color:white;
	cursor: pointer;
	line-height: 40px;
	float:right;
}

div.delrow{
	width: 90px;
	height: 40px;
	background-color: #666699;
	color:white;
	cursor: pointer;
	line-height: 40px;
	float:right;
}

div.trackLoaderButton:HOVER{
	font-size: 120%;
}


tr.secondRow{
	height: 30px;
}

tr.secondRow td{
	width: 184px;
	/*border-width:1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	border-style: solid;*/
	
}

tr.thirdRow{
	height: 30px;
}

tr.thirdRow td{
	width: 184px;
	width: 184px;
	/*border-width:1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	border-style: solid;*/
}

/*----db2------*/
#db2Menu{
	width: 880px;
	margin-bottom: 10px;
}

#songDB2Title{
	margin-bottom: 10px;
}

#carform{
	align-content: center;	
}

.importSubMenu{
	padding:20px;
	margin-left: 45px;
}

.formTable{
	align:center;
	text-align:left;
}

.td100{
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
}